@media screen and (min-width:320px) {

    /* CSS Guide
    1. Main Nav
    2. Hero Image
    3. Products
    4. Video
    5. History
    6. Footer */

    /* 1. Main Nav */

    #main-header{
        background-color: #F2F2F2;
        height: 83px;
    }

    #main-logo{
        height: 83px;
        margin: 0px;
        display: flex;
        align-items: center;
        padding: 7px 0px 0px 0px;
    }

    #main-logo img{
        width: 50%;
    }

    #burger-nav{
        order: -1;
        height: 83px;
        margin: 0px;
        padding: 0;
    }


    #burger-nav label img{
        height: 83px;
        transition: all .5s ease;
        cursor: pointer;
        width: 70%;
    }
    
    #burger-nav input, #burger-con{
        display: none;
    }
    
    #burger-nav input:checked ~ #burger-con {
        display: block;
        position: absolute;
        transform: translateX(-60);
        background-color: #822021;
        width: 300px;
    }
    
    #burger-nav input:checked ~ label img{
        transform: rotate(-90deg);
    }
    
    
    #burger-nav ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    #burger-nav li a {
        display: block;
        /* trbl */
        padding: 10px 0 10px 0;
        text-align: center;
        color: #ffffff;
    }
    
    #burger-nav li {
        border-bottom: 1px solid #efefef;
    }
    
    #burger-nav li:first-child {
        border-top: 1px solid #efefef;
    }
    
    #burger-nav:last-child {
        margin-bottom: 10px;
    }

    #main-icon1{
        display: none;
    }
    #main-icon2{
        display: none;
    }
    #main-nav{
        display: none;
    }

    /* 2. Hero Image */

    #hero-image{
        height: 529px;
    }
    #hero-con{
        height: 805px;
        background-image: url(../images1/mobile\ 1.Banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
    }

    h2 {
        font-family: 'Eczar', serif;
        font-size: 40px;
        color: #E2CBAC;
    }

    h3{
        font-family: 'Eczar', serif;
        font-size: 40px;
        color: #E2CBAC;
    }

    /* 3. Products */

    #products{
        height: 1792px;
        background-image: url(../images1/mobile\ 2.product_backgrnd.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
    }
    #products h2{
        height: 88px;
    }
    .product-complete{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgb(27, 27, 27);
        text-align: center;
        margin-top: 10px;
        margin-bottom:10px;
    }
    .box-products{
        height: 383px;
        background-color: brown;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 25px;  
        padding: 20px;
    }
    .button-products{
        height: 58px;
        background-color: #d94b4b;
        width: 50%;
        border-radius: 5px;
        padding: 20px;
    }

    /* 4. Video */

    #video-box{
        padding: 0px;
    }
    #video-full{
        height: 775px;
        margin: 0px;
        padding: 20px;
    }

    /* 5. History */

    #history{
        background-color: #F2F2F2;
        height: 977px;
        align-items: center;
    }
    #history-title{
        height: 81px;
    }
    #history-image{
        height: 299px;
        background-image: url(../images1/mobile\ 3.beer\ ad\ 2\ home\ page.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #text-history{
        height: 215px;
        background-color: bisque;
        width: 100%;
        margin-bottom: 20px;
        border-radius: 5px;
        padding: 20px;
    }
    #button-history{
        height: 49px;
        background-color: bisque;
        width: 50%;
        border-radius: 5px;
        padding: 20px;
    }

    /* 6. Footer */

    footer{
        height: 727px;
        background-color: blanchedalmond;
        align-items: center;
    }
    #nav-footer{
        height: 49px;
    }
    #footer-newsletter{
        height: 49px;
    }

    #footer-newsletter h2{
        color: #208281;;
    }
    #signup-footer{
        height: 49px;
    }
    #button-footer{
        height: 49px;
    }
    #text-footer{
        height: 40px;
    }
    .socialmedia-footer{
        height: 50px;
    }
    #terms-footer{
        height: 48px;
    }

    /* Contact us */

    #contact-us{
        background-color: #208281;
        height: 1193px;
        align-items: center;
    }

    #contact-form{
        height: 539px;
    }

    #contact-image{
        height: 450px;
    }
}


@media screen and (min-width:768px) {

    /* CSS Guide
    1. Main Nav
    2. Products
    3. Video
    4. History
    5. Footer */

    /* 1. Main Nav */

    #main-logo{
        order: -1;
    }



    /* 2. Products */

    #products{
        height: 1144px;
        background-image: url(../images1/768\ 2.product_backgrnd.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #product-title{
        height: 88px;
    }
    .box-products{
        height: 294px;
        background-color: brown;
    }
    .button-products{
        height: 58px;
        background-color: #d94b4b;
    }

    /* 3. Video */

    #video-full{
        height: 788px;
    }

    /* 4. History */

    #history{
        background-color: #F2F2F2;
        height: 1200px;
    }
    #history-title{
        height: 45px;
    }
    #history-image{
        height: 530px;
        background-image: url(../images1/768\ \ 3.beer\ ad\ 2\ home\ page.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #text-history{
        height: 341px;
    }
    #button-history{
        height: 77px;
    }

    /* 5. Footer */

    footer{
        height: 634px;
        background-color: blanchedalmond;
    }
    #nav-footer{
        height: 42px;
    }
    #footer-newsletter{
        height: 42px;
    }
    #signup-footer{
        height: 48px;
    }
    #button-footer{
        height: 41px;
    }
    #text-footer{
        height: 41px;
    }
    .socialmedia-footer{
        height: 42px;
    }
    #terms-footer{
        height: 42px;
    }

     /* Contact us */

    #contact-us{
        height: 1320px;
    }
    
    #contact-image{
        height: 586px;
    }

}

@media screen and (min-width:1200px) {

      /* CSS Guide
    1. Main Nav
    2. Hero Image
    3. Products
    4. Video
    5. History
    6. Footer */

    /* 1. Main Nav */

    #main-header{
        background-color: #F2F2F2;
        height: 111px;
    }

    #burger-nav{
        display: none;
    }

    #main-logo{
        height: 111px;
        display: flex;
        align-items: center;
        padding-top: 35px;
        padding-bottom: 24px;
    }

    
    #main-logo img{
        width: 50%;
    }

    #main-icon1{
        display: block;
        height: 111px;
        margin: 0;
    }
    #main-icon2{
        display: block;
        height: 111px;
        margin: 0;
    }
    #main-nav{
        display: block;
        height: 111px;
        margin: 0;
    }

    #main-nav ul {
        margin-top: 24px;
        padding:0;
     }

    a {
        text-decoration: none;
        transition: all 0.5s ease-in-out;
     }
     
     #main-nav li {
        display:inline;
        margin-right: 45px;
        font-family: 'Nunito', sans-serif, Verdana;
     }
     
     #main-nav li:last-child {
        margin-right: 0;
     }
    
     #main-nav li a {
        color: #AE2929;
        font-size: 17px;
     }
     
     #main-nav li a:hover {
      padding-bottom: 8px;
      border-bottom: 3px solid #06113C;
     }


    #main-icon1, #main-icon2{
        display: flex;
        align-items: center;
    }



    /* 2. Hero Image */

    #hero-image{
        height: 505px;
    }
    #hero-con{
        height: 800px;
        background-image: url(../images1/1200\ 1.banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* 3. Products */

    #products{
        height: 1753px;
        background-image: url(../images1/1200\ 2.product_backgrnd.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #product-title{
        height: 136px;
    }
    .box-products{
        height: 451px;
        background-color: brown;
    }
    .button-products{
        height: 90px;
        background-color: #d94b4b;
    }

    #title-product h2{
        font-size: 65px;
    }

    #text-product h4{
        font-size: 25px;
    }

    #product-image{
        display: flex;
        align-items: center;  
    }
    /* 4. Video */

    #video-full{
        height: 972px;
    }

    /* 5. History */

    #history{
        background-color: #F2F2F2;
        height: 891px;
    }
    #history-title{
        height: 112px;
    }
    #history-image{
        height: 548px;
        background-image: url(../images1/1200\ 3.beer_ad_2_homePage.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #text-history{
        height: 409px;
    }
    #button-history{
        height: 90px;
    }

    /* 6. Footer */

    footer{
        height: 481px;
        background-color: blanchedalmond;
    }
    #nav-footer{
        height: 65px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
    }

    #nav-footer ul{
        padding: 0;
    }
    #nav-footer ul li {
        display:inline;
        font-size: 20px;
        margin-right: 35px;
     } 

     #nav-footer ul li:first-child{
        padding-left: 0px;
     }
     
    #nav-footer ul li a {
        color: #208281;
     }

    #footer-newsletter{
        height: 65px;
    }

    #footer-newsletter h2{
        font-size: 20px;
    }

    #signup-footer{
        height: 65px;
        display: flex;
        padding: 0;
    }

    #signup-footer input{
        background-color: #FFFFFF;
        border: 1px solid #707070;
        font-size: 20px;
        padding-left: 10px;
        width: 100%;;
     }

    #button-footer{
        height: 65px;
        display: flex;
        align-items: center;
        padding: 0;
    }

    #button-footer-send{
        height: 65px;
        background-color: #208281;
        border: none;
        width: 100%;
    }

    #button-footer-send:hover {
        background-color: #498281;
     }
     
    #text-footer{
        display: none;
    }
    .socialmedia-footer{
        height: 65px;
    }

    #instagram, #facebook, #whatsapp{
        display: flex;
        align-content: center;
        border-radius: 50%;
        padding: 0px 0px 0px 15px;
    }

    #facebook img{
        width: 70%;
    }


    #whatsapp img{
        width: 80%;
    }


    #instagram img{
        width: 70%;
    }
    #terms-footer{
        height: 65px;
        display: flex;
        justify-content: flex-start;
        padding: 0;
    }

    #terms-footer ul{
        padding: 0;
    }

    #terms-footer ul li {
        display:inline;
        font-size: 20px;
        margin-right: 60px;
     }
    
     #terms-footer ul li a {
        color: #208281;
     }
    

    /* Contact us */

    #contact-us{
        height: 794px;
    }
    
    #contact-form{
        height: 586px;
    }
    
    #contact-image{
        height: 586px;
    }
    
}

@media screen and (min-width:1920px) {

      /* CSS Guide

    1. Main Nav
    2. Hero Image
    2. Products
    3. History
    4. Footer */

    /* 1. Main Nav */

    #main-logo{
        height: 111px;
        display: flex;
        align-items: center;
        padding: 0;
    }

    #main-logo img{
        width: 200%;
    }

    

    /* 2. Hero Image */

    #hero-image{
        height: 1299px;
    }
    #hero-con{
        height: 1594px;
        background-image: url(../images1/1920\ 1.Banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* 2. Products */

    #products{
        height: 2063px;
        background-image: url(../images1/1920\ 2.product_backgrnd.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #product-title{
        height: 136px;
    }
    .box-products{
        height: 451px;
        background-color: brown;
    }
    .button-products{
        height: 125px;
        background-color: #d94b4b;
    }

    /* 3. History */
    #history{
        background-color: #F2F2F2;
        height: 1086px;
    }
    #history-title{
        height: 112px;
    }
    #history-image{
        height: 813px;
        background-image: url(../images1/1920\ 3.beerad2home\ page.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #text-history{
        height: 352px;
    }
    #button-history{
        height: 124px;
    }

    /* 4. Footer */

    footer{
        height: 651px;
        background-color: blanchedalmond;
    }
    #nav-footer{
        height: 104px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
    }

    #nav-footer ul li {
        display:inline;
        font-size: 22px;
        margin-right: 35px;
     } 
     
    #nav-footer ul li a {
        color: #208281;
     }

    #footer-newsletter{
        height: 104px;
        padding-left: 0;
        display: flex;
    }

    #footer-newsletter h2{
        font-size: 22px;
    }

    #signup-footer{
        height: 104px;
    }
    #button-footer{
        height: 104px;
    }

    #button-footer-send{
        height: 104px;
    }

    .socialmedia-footer{
        height: 104px;
    }

    #instagram, #facebook, #whatsapp{
        border-radius: 30%;
        padding: 0px 0px 0px 3px;
    }

    #facebook img{
        width: 100%;
    }


    #whatsapp img{
        width: 100%;
    }


    #instagram img{
        width: 100%;
    }

    #terms-footer{
        height: 104px;
        display: flex;
        align-items: center;
    }

    #terms-footer ul li {
        font-size: 22px;
        margin-right: 46px;
     }

     /* Contact us */

    #contact-us{
        height: 1270px;
    }
        
    #contact-form{
        height: 938px;
    }
        
    #contact-image{
        height: 938px;
    }
}


 /* Product */

 @media screen and (min-width:320px) {
    #product-hero{
        background-color: brown;
        height: 1251px;
        align-items: center;
    }


    #title-product{
        height: 219px;
        background-color: #E09026;
        margin-bottom: 20px;
        border-radius: 5px;
        padding: 40px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #text-product{
        height: 115px;
        background-color: #E09026;
        margin-bottom: 20px;
        border-radius: 5px;
        padding: 30px;
    }
    
    #product-image{
        height: 599px;
        margin-bottom: 70px;
    }

    #product-details{
        height: 2600px;
        background-color: #208281;
        align-items: center;
    }

    #product-details-box-1{
        height: 255px;
    }

    #product-details-box-2{
        height: 1732px;
    }

    #product-details-box-2 h3{
        text-align: center;
    }
 }

 @media screen and (min-width:768px) {
    #product-hero{
        height: 768px;
    }

    .product-box{
        height: 478px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #title-product{
        height: 200px;
        padding: 0;
        margin: 0;
        width: 57%;
    }

    #text-product{
        height: 114px;
        padding: 0;
        margin: 0;
    }

    #product-image{
        height: 478px;
        margin-bottom: 0px;
    }

    #product-details{
        height: 2315px;

    }

    #product-details-box-1{
        height: 505px;
    }

    #product-details-box-2{
        height: 700px;
    }
 }

 @media screen and (min-width:1200px) {
    
    h2 {
        font-family: 'Eczar', serif;
        font-size: 200px;
        text-align: center;
        height: 120px;
        color: #E2CBAC;
    }

    h3{
        font-family: 'Eczar', serif;
        font-size: 50px;
        text-align: center;
        height: 100px;
        color: #E2CBAC;
    }
    
    #product-hero{
        height: 600px;
    }

    .product-box{
        height: 480px;
    }

    #product-details-box-1{
        height: 555px;
        display: flex;
        align-items: center;
    }

    #title-product{
        font-family: 'Eczar', serif;
        font-size: 40px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #text-product{
        height: 77px;
    }

    #product-image{
        height: 505px;
    }

    #product-details{
        height: 1850px;
    }
 }
 @media screen and (min-width:1920px) {
    #product-hero{
        height: 950px;
    }

    .product-box{
        height: 600px;
    }

    #title-product{
        height: 375px;
    }

    #text-product{
        height: 128px;
    }

    #product-image{
        height: 600px;
    }

    #product-details{
        height: 1756px;
    }

    #product-details-box-1{
        height: 549px;
        margin-bottom: 250px;
        margin-top: 70px;
    }

    #product-details-box-2{
        height: 1274px;
    }
}


/* * lightbox rules here */ 



.lightbox { 
    width: 100vw; /* vw = viewport width => screen width */
    height: 100vh; /* vh = viewport height => screen height */

    position: fixed;
    top: 0;
    left: 0;
    color: white;

    background-color: rgba(0, 0, 0, 0.85);
    display: none;
}


.lightbox_close {
    position: relative;
    top: 20px;
    left: 95%;

    color: white;
    font-size: 3em;

    text-decoration: none;

    font-weight: bolder;
    cursor: pointer;
}

.lightbox_close:hover { opacity: 0.5; color: red; }

.lightbox article {
    width: 90%;
    margin-left: 5%;
    padding-top: 50px;
}

.lb_text, .lb_heading { text-align: left; }

.lb_text {
    line-height: 1.6 !important;
    margin-left: 0;
    padding-top: 2em;
}

/* turn the lightbox on using the :target pseudo selector */
.lightbox:target { display: block; }


.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
} 



#mashing_img:hover{
    border: solid #E09026;
    opacity: 0.5;
}

#beer_img:hover{
    border: solid #E09026;
    opacity: 0.5;
}

#malting_img:hover{
    border: solid #E09026;
    opacity: 0.5;
}


#fermetation_img:hover{
    border: solid #E09026;
    opacity: 0.5;
}

#boiling_img:hover{
    border: solid #E09026;
    opacity: 0.5;
}

#aging_img:hover{
    border: solid #E09026;
    opacity: 0.5;
}

#imageprocess{
    width: 100%;
}

#text-lightbox{
    margin-left: 40px;
    font-size: 20px;
}