

    /* CSS Guide
    1. Main Nav
    2. Hero Image
    3. Products
    4. Video
    5. History
    6. Footer */

    /* 1. Main Nav */

    #main-header{
        background-color: #F2F2F2;
        height: 83px;
    }

    #main-logo{
        height: 83px;
        margin: 0px;
        display: flex;
        align-items: center;
        padding: 7px 0px 0px 0px;
    }

    #main-logo img{
        width: 50%;
    }

    #burger-nav{
        order: -1;
        height: 83px;
        margin: 0px;
        padding: 0;
    }


    #burger-nav label img{
        height: 83px;
        transition: all .5s ease;
        cursor: pointer;
        width: 70%;
    }
    
    #burger-nav input, #burger-con{
        display: none;
    }
    
    #burger-nav input:checked ~ #burger-con {
        display: block;
        position: absolute;
        transform: translateX(-60);
        background-color: #822021;
        width: 300px;
    }
    
    #burger-nav input:checked ~ label img{
        transform: rotate(-90deg);
    }
    
    
    #burger-nav ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    #burger-nav li a {
        display: block;
        /* trbl */
        padding: 10px 0 10px 0;
        text-align: center;
        color: #ffffff;
    }
    
    #burger-nav li {
        border-bottom: 1px solid #efefef;
    }
    
    #burger-nav li:first-child {
        border-top: 1px solid #efefef;
    }
    
    #burger-nav:last-child {
        margin-bottom: 10px;
    }

    #main-icon1{
        display: none;
    }
    #main-icon2{
        display: none;
    }
    #main-nav{
        display: none;
    }

    /* 2. Hero Image */
    #hero-con{
        height: 811px;
        background: url(../images/320-hero.png) no-repeat center;
        background-size: contain;
    }

    h2 {
        font-family: 'Eczar', serif;
        font-size: 40px;
        color: #E2CBAC;
    }

    h3{
        font-family: 'Eczar', serif;
        font-size: 40px;
        color: #E2CBAC;
    }

    /* 3. Products */

    #products{
        height: 1728px;
        background: url(../images/product_backgrnd.jpg) no-repeat center;
        align-items: center;
    }
    #products h2{
        height: 88px;
    }

    #product-title{
        height: 135px;
        display: flex;
        padding: 0;
        margin: auto;
        align-items: center;

    }

    #product-title h2{
        font-size: 65px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #707070;
    }

    .product-complete{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgb(27, 27, 27);
        text-align: center;
        margin-top: 10px;
        margin-bottom:10px;
    }

    .box-products{
        height: 231px;
        background-color: brown;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 25px;  
    }

    .button-products{
        height: 78px;
        background-color: #FFFFFF;
        width: 85%;
        border: 5px solid #B19580;
        border-radius: 40px;
        font-size: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #B19580;
        display: flex;
        align-items: center;
        justify-content:center;
    }

    /* 4. Video */

    #video-box{
        height: 688px;
        padding: 0px;
    }

    /* 5. History */

    #history{
        background-color: #F2F2F2;

        height: 1222px;
        align-items: center;
    }
    #history-title{
        height: 90px;
        display: flex;
        align-items: center;
        background-color: #06113C;
    }

    #history-title h2{
        font-size: 40px;
        font-family: 'Eczar', serif;
        text-align: right;
    }

    #history-image{
        height: 317px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #text-history{
        height: 147px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        padding: 20px;
    }

    #text-history h3{
        text-align: right;
        font-size: 30px;
        font-family: 'Cabin', sans-serif;
    }


    /* 6. Footer */

    footer{
        height: 666px;
        background: url(../images/beeratnight_B&W.jpg) no-repeat center;
        background-position-x: -805px;
        align-items: center;
    }

    ul li {
        list-style: none;
        display:inline;
    }

    a{
        text-decoration: none;
    }

    #nav-footer{
        height: 49px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #nav-footer ul{
        padding: 0;
    }

    #nav-footer ul li{
        padding: 10px;
    }

    #nav-footer ul a{
        font-size: 18px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #FFFFFF;
    }


    #footer-newsletter{
        height: 27px;
        display: flex;
        padding: 0;
        align-items: center;
    }

    #footer-newsletter h2{
        color: #707070;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #signup-footer{
        height: 49px;
        display: flex;
        padding: 0;
    }

    #signup-footer form {
        background-color: #FFFFFF;
        border: 1px solid #707070;
        width: 100%;
     }

    #form-footer input{
        width: 100%;
        height: 100%;
        padding-left: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
        color: #949494;
    }

    #button-footer{
        height: 49px;
        display: flex;
        align-items: center;
        padding: 0;
    }

    #button-footer-send{
        height: 49px;
        background-color: #707070;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #ffffff;
        border: none;
        width: 100%;
    }

    #text-footer{
        height: 40px;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #text-footer h2{
        font-size: 16.5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #FFFFFF;
    }

    .socialmedia-footer{
        height: 50px;
    }

    #instagram, #facebook, #whatsapp{
        display: flex;
        align-content: center;
        border-radius: 50%;
        padding: 0px 0px 0px 0px;
    }

    #terms-footer{
        height: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #terms-footer ul{
        padding: 0;
    }

    #terms-footer ul a{
        font-size: 11px;
        color: #FFFFFF;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }    

    #contact_footer {
        display: none;
    }

    #gallery_footer{
        display: none;
    }

    /* Contact us */

    #contact-us{
        background: url(../images/320-Contact_Form.jpg) no-repeat center;
        height: 800px;
        align-items: center;
    }

    #contact-form{
        height: 586px;
        background-color: rgba(194, 194, 194, .7);
        border: 1px solid #707070;
        text-align: left;
    }



@media screen and (min-width:768px) {

    /* CSS Guide
    1. Main Nav
    2. Hero Image
    3. Products
    4. Video
    5. History
    6. Footer */

    /* 1. Main Nav */

    #burger-nav input:checked ~ #burger-con {
        transform: translateX(-60);
        width: 720px;
    }

    /* 2. Hero Image*/

    #hero-con{
        height: 579px;
        align-items: center;
        background: url(../images/768Hero.jpg) no-repeat center;
    }


    /* 3. Products */

    #products{
        height: 1301px;
    }
    #product-title{
        height: 99px;
    }

    #product-title h2{
        font-size: 110px;
        color: #252525;
    }

    .box-products{
        height: 249px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .button-products{
        height: 78px;
        width: 100%;
    }

    #button-products-3{
        width: 80%;
    }


    /* 4. History */

    #history{
        height: 1318px;
    }
    #history-title{
        height: 184px;
    }

    #history-title h2{
        font-size: 70px;
    }

    #history-image{
        height: 530px;
    }
    #text-history{
        height: 147px;
    }

    #text-history h3{
        font-size: 40px;
        color: #252525;
    }

    #button-history{
        width: 70%;
    }

    /* 5. Footer */

    footer{
        height: 634px;
        background: url(../images/beeratnight_B&W_tablet.jpg) no-repeat center;
    }

    #gallery_footer{
        display: block;
    }

    #contact_footer{
        display: block;
    }

    #nav-footer{
        height: 42px;
        display: flex;
        padding: 0;
        justify-content: start;
    }


    #nav-footer li{
        display:inline;
    }

    #nav-footer li{
        padding-left: 0px;
    }

    #nav-footer li a{
        font-size: 19px;
    }


    #footer-newsletter{
        height: 42px;
    }

    #footer-newsletter h2{
        font-size: 17px;
    }
    #signup-footer{
        height: 48px;
        
    }

    #signup-footer input{
        font-size: 17px;
     }
    
    #button-footer{
        height: 41px;
    }
    #text-footer{
        height: 41px;
    }

    #text-footer h2{
        font-size: 13px;
    }

    .socialmedia-footer{
        height: 42px;
    }

    #instagram, #facebook, #whatsapp{
        padding: 0px 0px 0px 2px;
    }

    #terms-footer{
        height: 42px;
        justify-content: end;
    }

    #terms-footer ul a{
        font-size: 19px;
        padding-left: 15px;
    }


     /* Contact us */

     #contact-us{
        background: url(../images/768-Contact_Form.jpg) no-repeat center;
    }

}

@media screen and (min-width:1200px) {

      /* CSS Guide
    1. Main Nav
    2. Hero Image
    3. Products
    4. Video
    5. History
    6. Footer */

    /* 1. Main Nav */

    #main-header{
        height: 110px;
    }

    #burger-nav{
        display: none;
    }

    #main-logo{
        order: -1;
        height: 111px;
        display: flex;
        align-items: center;
        padding-top: 35px;
        padding-bottom: 24px;
    }

    
    #main-logo img{
        width: 50%;
    }

    #main-icon1{
        display: block;
        height: 111px;
        margin: 0;
    }
    #main-icon2{
        display: block;
        height: 111px;
        margin: 0;
    }
    #main-nav{
        display: block;
        height: 111px;
        margin: 0;
    }

    #main-nav ul {
        margin-top: 24px;
        padding:0;
     }

    a {
        text-decoration: none;
        transition: all 0.5s ease-in-out;
     }
     
     #main-nav li {
        display:inline;
        margin-right: 45px;
        font-family: 'Nunito', sans-serif, Verdana;
     }
     
     #main-nav li:last-child {
        margin-right: 0;
     }
    
     #main-nav li a {
        color: #AE2929;
        font-size: 17px;
     }
     
     #main-nav li a:hover {
      padding-bottom: 8px;
      border-bottom: 3px solid #06113C;
     }


    #main-icon1, #main-icon2{
        display: flex;
        align-items: center;
    }



    /* 2. Hero Image */

    #hero-image{
        height: 505px;
    }
    #hero-con{
        height: 800px;
        background: url(../images/1200Hero.jpg) no-repeat center;
    }

    /* 3. Products */

    #products{
        height: 763px;
        background: url(../images/product_backgrnd_1200.jpg) no-repeat center;
    }
    #product-title{
        height: 136px;
    }
    .box-products{
        height: 248px;
        background-color: brown;
    }

    .button-products{
        height: 90px;
    }

    #button-products-3{
        width: 100%;
    }

    #title-product h2{
        font-size: 65px;
    }

    #text-product h4{
        font-size: 25px;
    }

    #product-image{
        display: flex;
        align-items: center;  
    }

      
    /* 5. History */

    #history{
        height: 662px;
        grid-row: 1/3;
    }
    #history-title{
        height: 184px;
        grid-row: 1/2;
    }
    #history-image{
        height: 455px;
        grid-row: 1/3;
    }

    .product-complete{
        grid-row: 2/3;
    }

    #text-history{
        height: 147px;
    }
    #button-history{
        height: 90px;
    }

    /* 6. Footer */

    footer{
        height: 481px;
        background: url(../images/beeratnight_B&W_1200.jpg) no-repeat center;
    }
    #nav-footer{
        height: 65px;
    }

    #nav-footer ul li {
        font-size: 20px;
     } 

     #nav-footer ul li:first-child{
        padding-left: 0px;
     }

    #footer-newsletter{
        height: 65px;
    }
    
    #footer-newsletter h2{
        display: flex;
        align-items: center;
        font-size: 20px;
    }

    #signup-footer{
        height: 65px;
        display: flex;
        padding: 0;
    }

    #signup-footer input{
        background-color: #FFFFFF;
        border: 1px solid #707070;
        font-size: 20px;
        padding-left: 10px;
        width: 100%;;
     }

    #button-footer{
        height: 65px;
        display: flex;
        align-items: center;
        padding: 0;
    }

    #button-footer-send{
        height: 65px;
        background-color: #208281;
        border: none;
        width: 100%;
    }

    #button-footer-send:hover {
        background-color: #498281;
     }
     
    #text-footer{
        display: none;
    }
    .socialmedia-footer{
        height: 65px;
    }

    #instagram, #facebook, #whatsapp{
        display: flex;
        align-content: center;
        border-radius: 50%;
        padding: 0px 0px 0px 15px;
    }

    #facebook img{
        width: 70%;
    }


    #whatsapp img{
        width: 80%;
    }


    #instagram img{
        width: 70%;
    }
    #terms-footer{
        height: 65px;
    }

    
    #terms-footer ul li {
        font-size: 20px;
     }
    

    /* Contact us */

    #contact-us{
        background: url(../images/1200Contact_Form.jpg) no-repeat center;
    }
    
}

@media screen and (min-width:1920px) {

      /* CSS Guide

    1. Main Nav
    2. Hero Image
    2. Products
    3. History
    4. Footer */

    /* 1. Main Nav */

    #main-header{
        height: 127px;
    }

    #main-nav{
        height: 127px;
    }

    #main-logo{
        height: 127px;
        display: flex;
        align-items: center;
        padding: 0;
    }

    #main-logo img{
        width: 200%;
    }

    #main-icon1{
        height: 127px;
    }

    #main-icon2{
        height: 127px;
    }

    

    /* 2. Hero Image */

    #hero-con{

        height: 800px;
        background: url(../images/1920Hero.jpg) no-repeat center;
        background-size: contain;
    }

    /* 2. Products */

    #products{
        height: 1221px;
        background: url(../images/product_backgrnd_1920.jpg) no-repeat center;
    }
    #product-title{
        height: 158px;
    }
    .box-products{
        height: 398px;
        background-color: brown;

    }
    .button-products{
        height: 125px;
    }

    /* 3. Video */

    #video-box{
        height: 1076px;
    }

    /* 4. History */
    #history{
        height: 1086px;
    }
    #history-title{
        height: 250px;
        grid-row: 1/2;
    }
    #history-image{
        height: 813px;
        grid-row: 1/3;
    }

    .product-complete{
        grid-row: 2/3;
    }

    #text-history{
        height: 147px;
    }
    #button-history{
        height: 101px;
    }


    /* 5. Footer */

    footer{
        height: 651px;
        background: url(../images/beeratnight_B&W_1920.jpg) no-repeat center;
    }
    #nav-footer{
        height: 104px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
    }

     
    #nav-footer ul li a {
        color: #208281;
     }

    #footer-newsletter{
        height: 104px;
    }

    #footer-newsletter h2{
        font-size: 22px;
    }

    #signup-footer{
        height: 104px;
    }
    #button-footer{
        height: 104px;
    }

    #button-footer-send{
        height: 104px;
    }

    .socialmedia-footer{
        height: 104px;
    }

    #instagram, #facebook, #whatsapp{
        border-radius: 30%;
        padding: 0px 0px 0px 3px;
    }

    #facebook img{
        width: 100%;
    }


    #whatsapp img{
        width: 100%;
    }


    #instagram img{
        width: 100%;
    }

    #terms-footer{
        height: 104px;
    }

    #terms-footer ul li {
        font-size: 22px;
     }

     /* Contact us */

    #contact-us{
        height: 1281px;
        background: url(../images/1920Contact_Form.jpg) no-repeat center;       
    }
        
}


 /* Product Website */

    #product-hero{
        background-image: linear-gradient(to right top, #822021, #973324, #aa4725, #bd5c26, #cd7226, #d48231, #da913d, #e1a04a, #e2ab63, #e2b67b, #e2c193, #e2cbac);
        height: 900px;
        align-items: center;
    }


    #title-product{
        height: 219px;
        /* background-color: #E09026; */
        margin-bottom: 20px;
        border-radius: 5px;
        padding: 40px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #text-product{
        height: 115px;
        /* background-color: #E09026; */
        margin-bottom: 20px;
        border-radius: 5px;
        padding: 30px;
    }
    
    #product-image{
        height: 300px;
        margin-bottom: 70px;
    }

    #product-details{
        height: 2600px;
        background-color: #208281;
    }

    #product-details-box-1{
        height: 130px;
        padding: 0;
        display: flex;
        align-items: center;
        margin-top: 50px;
    }

    #product-details-box-2{
        height: 1732px;
        margin-bottom: 50px;
    }

    #product-details-box-2 h3{
        text-align: center;
    }


 @media screen and (min-width:768px) {
    #product-hero{
        height: 570px;
    }

    .product-box{
        height: 478px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #title-product{
        height: 200px;
        padding: 0;
        margin: 0;
        width: 57%;
    }

    #text-product{
        height: 114px;
        padding: 0;
        margin: 0;
    }

    #product-image{
        height: 300px;
        margin-bottom: 0px;
        display: flex;
        align-items: center;
    }

    #product-details{
        height: 1215px;

    }

    #product-details-box-1{
        height: 380px;
        display: flex;
        align-items: center;
        padding: 0;
        margin-top: 50px;
    }

    #product-details-box-2{
        height: 700px;
        padding-top: 100px;
    }
 }

 @media screen and (min-width:1200px) {
    
    h2 {
        font-family: 'Eczar', serif;
        font-size: 110px;
        text-align: center;
        height: 120px;
        color: #E2CBAC;
    }

    h3{
        font-family: 'Eczar', serif;
        font-size: 50px;
        text-align: center;
        height: 100px;
        color: #E2CBAC;
    }
    
    #product-hero{
        height: 600px;
    }

    .product-box{
        height: 480px;
    }

    #product-details{
        height: 1115px;

    }

    #product-details-box-1{
        height: 555px;
        display: flex;
        align-items: center;
        margin-top: 50px;
    }

    #product-details-box-2{
        margin-bottom: 270px;
    }

    #title-product{
        font-family: 'Eczar', serif;
        font-size: 40px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #text-product{
        height: 77px;
    }

    #product-image{
        height: 505px;
    }

    #product-details{
        height: 1850px;
    }
 }
 @media screen and (min-width:1920px) {
    #product-hero{
        height: 950px;
    }

    .product-box{
        height: 600px;
    }

    #title-product{
        height: 375px;
    }

    #text-product{
        height: 128px;
    }

    #product-image{
        height: 600px;
    }

    #product-details{
        height: 1756px;
    }

    #product-details-box-1{
        height: 549px;
        margin-top: 70px;
        margin-bottom: 120px;
    }

    #product-details-box-2{
        height: 1274px;
    }
}


/* * lightbox rules here */ 



.lightbox { 
    width: 100vw; /* vw = viewport width => screen width */
    height: 100vh; /* vh = viewport height => screen height */

    position: fixed;
    top: 0;
    left: 0;
    color: white;

    background-color: rgba(0, 0, 0, 0.85);
    display: none;
}


.lightbox_close {
    position: relative;
    top: 20px;
    left: 95%;

    color: white;
    font-size: 3em;

    text-decoration: none;

    font-weight: bolder;
    cursor: pointer;
}

.lightbox_close:hover { opacity: 0.5; color: red; }

.lightbox article {
    width: 90%;
    margin-left: 5%;
    padding-top: 50px;
}

.lb_text, .lb_heading { text-align: left; }

.lb_text {
    line-height: 1.6 !important;
    margin-left: 0;
    padding-top: 2em;
}

/* turn the lightbox on using the :target pseudo selector */
.lightbox:target { display: block; }


.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
} 



#mashing_img:hover{
    border: solid #E09026;
    opacity: 0.5;
}

#beer_img:hover{
    border: solid #E09026;
    opacity: 0.5;
}

#malting_img:hover{
    border: solid #E09026;
    opacity: 0.5;
}


#fermetation_img:hover{
    border: solid #E09026;
    opacity: 0.5;
}

#boiling_img:hover{
    border: solid #E09026;
    opacity: 0.5;
}

#aging_img:hover{
    border: solid #E09026;
    opacity: 0.5;
}

#imageprocess{
    width: 100%;
}

#text-lightbox{
    margin-left: 40px;
    font-size: 20px;
}

/* Contact Website */


#contact-form h3{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    opacity:unset;
}

#contact-footer input{
    width: 100%;
    height: 100%;
    padding-left: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: black;
}

.contact-input{
    margin-top: 15px;
}


.contact-input label{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
}

.contact-input input{
    height: 40px;
    border: 1px solid #000000;
    background-color: transparent;
    margin-top: 10px;
}

.contact-input #message{
    height: 81px;
}

#button-box{
    margin-top: 15px;
    display: flex;
    justify-content: right;
}

#button-contact{
    width: 50%;
}

@media screen and (min-width:1200px) {


    #contact-form h3{
        margin-top: 3px;
        height: 47px;
        text-align: center;
    }

    #contact-footer{
        margin-top: 5px;
    }

    .contact-input{
        margin: 0 auto;
        margin-top: 15px;
        width: 80%;
    }

    #button-contact{
        margin-right: 50px;
        width: 50%;
    }
    
}


@media screen and (min-width:1920px) {
    #contact-form{
        height: 938px;
    }

    #contact-form h3{
        font-size: 35px;
    }

    .contact-input{
        height: 70px;
        margin-top: 60px;
    }

    .contact-input #message{
        height: 200px;
    }

    .contact-input label{
        font-size: 30px;
    }

    .contact-input input{
        height: 57px;
    }

    #button-box{
        margin-top: 200px;
    }
}